*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: white;
    font-size: 2rem;
}
header{
    background-color: orange;
    padding: 20px;
}
